body {
	font-family: arial;
	background: linear-gradient(45deg, #1d1d42, #4e2ecf, #6fcf97);
	background-size: 150% 150%;
	animation: cambiar 10s ease-in-out infinite;
}

canvas {
	display: flex;
	vertical-align: bottom;
}

#particle-container {
	position: absolute;
	width: 90%;
	height: 90%;
	margin-left: 60px;
	padding: 0;
}

.img img {
	border-radius: 50%;
	width: 50%;
	max-width: 300px;
	min-height: 250px;
	margin: 0px auto;
	border: solid;

}

.img {
	padding-top: 20px;
	display: flex;
	align-items: center;
}

#container {
	position: relative;
	height: 100%;
	width: 100%;
	justify-content: center;
}

#container_items {
	background: linear-gradient(45deg, #1d1d42, #1e1a20, #36323c);
	background-size: 400% 400%;
	border-radius: 20px;
	height: 50%;
	width: 500px;
	margin: 5% auto;

	animation: cambiar 10s ease-in-out infinite;
}

.presentacion {
	color: #fff;
	display: flex;
	text-align: center;
	justify-content: center;
	padding-bottom: 10px;
}

.presentacion p {
	font-size: 20px;
}

.presentacion__nombre {
	margin: 0 15px;
	align-items: center;
	font-size: 15px;
	text-align: center;
}

.wrapper {
	margin-top: 60px;
	margin-bottom: 20px;
	display: inline-flex;
}

.wrapper .icon {
	margin: 0 20px;
	text-align: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	z-index: 2;
	transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span {
	display: block;
	height: 60px;
	width: 60px;
	background: #fff;
	border-radius: 50%;
	position: relative;
	z-index: 2;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span i {
	line-height: 60px;
	font-size: 25px;
}

.wrapper .icon .tooltip {
	position: absolute;
	top: 0;
	z-index: 1;
	background: #fff;
	color: #fff;
	padding: 10px 18px;
	font-size: 20px;
	font-weight: 500;
	border-radius: 25px;
	opacity: 0;
	pointer-events: none;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
	top: -70px;
	opacity: 1;
	pointer-events: auto;
}

.icon .tooltip:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	background: #fff;
	left: 50%;
	bottom: -6px;
	transform: translateX(-50%) rotate(45deg);
	transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover span {
	color: #fff;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before {
	background: #46C1F6;
}

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before {
	background: #e1306c;
}

.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before {
	background: #333;
}

@keyframes cambiar {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}

@media (min-width: 1024px) {
	#hero {
		background-attachment: fixed;
	}
}

@media (max-width: 768px) {
	#hero h1 {
		font-size: 28px;
		line-height: 36px;
	}

	#hero h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
}