p.peque {font-size: small;}

p.medio {font-size:medium;}

p.grande {font-size: large;}

p.mas-grande {font-size: x-large;}

p.cursiv {font-family: cursive;}

p.geor {font-family: georgia;}

p.fant {font-family: fantasy;}

p.new {font-family: new times roman;}

p.monos {font-family: monospace;}
