* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

body {
    background: #fff;
    font-family: "Open Sans";
    font-size: 16px; }

header {
    background: url("../img/desaweb.png"), #49A3D6;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 600px;
}

header .contenedor-texto {
    display: flex;
    justify-content: center;
    align-content: center;
     }
header .contenedor-texto .texto {
    margin: 190px 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px; }
header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
    color: #fff;
    font-weight: 300;
    margin: 0; }
header .contenedor-texto .texto .nombre {
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px; }
header .contenedor-texto .texto .profesion {
    font-size: 25px;
    line-height: 25px; }

.contenedor{
    overflow: visible;
    text-align: center;
}

.contenedor .img{
    margin-top: -200px;
}
.contenedor .img img{
    border-radius: 50%;
    vertical-align: top;
    border: 5px solid rgba(255, 255, 255, 0.2);
}

.enlaces{
    height: 300px;
    width: 800px;
    background: #ccc;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
}

.enlaces span{
    flex-wrap: wrap;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    margin-left: 50px
}

.enlaces a{
    color: #fff;
	text-align: center;
    display: inline-block;
    margin-top: 150px;
	width: 100px;
	padding: 15px 0;
	border-radius: 3px;
	font-size: 30px;
}

.github-logo{
    background: #666666;
}
.email-logo{
    background: #cd201f;
}

.boton{
    margin: auto;
	background: #3895ea;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 15px 40px;
	cursor: pointer;
    width: 200px;
}