body {
	font-family: times now roman;
}
.img img {
	border-radius: 50%;
	width: 50%;
	max-width: 200px;
	min-height: 150px;
	margin: 0 auto;
	border: solid;

}

.img {
	display: flex;
        align-items: center;
}


header {
	width: 100%;
	background-color: #C95833;
	padding-bottom: 20px;
	padding-top: 50px;

}

.presentacion {
	display: flex;
    align-items: center;
    background-color: #C95833;
    padding-bottom: 20px;
}

.presentacion__nombre {

	margin: 0 auto;

}

.presentacion span,a {

	margin: 0 auto;

}