body{
    margin: 0;
    padding:0;
    background: #247BA0;    
}

.name{
    width:100%;
    height:300px; 
    background: #111D4A;
    transform: skewY(-5deg);
}

.name .cont{
    width: 50%;
    height: 50%;
    position:absolute;
    left: 25%;
    transform: skewY(5deg);
  
    
}
.name .cont .p1{
    color: #ffffff;
    font-family: 'Fuente Serif 4', sans-serif;
    font-weight:bolder;
    font-size: 65px;
    margin-bottom: 0;
}
.name .cont .p2{
    color: #ffffff;
    font-family: 'Fuente Serif 4', sans-serif;
    font-size: 25px;
    transform: skewY(5%);
    margin-top: 0;
    margin-bottom: 0;
}

.info{
    width: 90%;
    height: auto;
    background:#111D4A;
    margin:5% auto;
    padding:20px;
    border-radius: 30px;
}
.info .tituloSeccion{
    color: #ffffff;
    font-family: 'Fuente Serif 4', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #000000 dashed;
}
.info .tituloInfo{
    color: #6c9aad;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
    
}
.infoInfo{
    color: #ffffff;
    font-family: 'Fuente Serif 4', sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}

.name .img{
    border-radius: 100%;
    padding: 1px;
    border: 20px solid transparent;
    background: linear-gradient(60deg,#00E5E8 10%,rgba(236, 13, 169, 0) 100%);
    margin: auto;
    display: block;
    position: absolute;
    top: 8%;
    right: 5%;
    width: 400px;
    height: 400px;
   overflow: hidden;
}
.menu {
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 10%px;
    height:40px;
    list-style: none;
  }
  .menu li {
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
  }

    a{
        font-size: 22px;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.45s;
      }
